*{
    margin: 0;
    border: none;
}
body{
    width: 100%;
    height: 373dvh;
    background-color: #F6FBFE;
}
.main{
    width: 100%;
    height: 285dvh;
}
header{
    background-color: #326FE9;
    width: 100%;
    height: 14dvh;
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    grid-template-areas: "logo nav";
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 6dvw;
    height: auto;
}
.logo span{
    font-size: 200%;
    margin-left: 15px;
    font-family: "Judson", serif;
    font-weight: 600;
    color: white;
    font-style: normal;
}
.logo a{
    margin-left: 15%;
}
nav{
    grid-area: nav;
    align-items: center;
    height: 9dvh;
    width: 90%;
    margin-left: 4%;
}
nav ul{
    list-style: none;
    display: grid;
    width: 100%;
    height: 9dvh;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
nav ul li{
    width: 90%;
}
nav ul li a{
    text-decoration: none;
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 170%;
    color: white;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
    background-color: #2c61cb;
    border-radius: 20px;
}
nav ul li a:hover{
    background-color: #204a9d;
    transform: scale(1.1);
    font-weight: 600;
}
.nosotros.fade{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.nosotros{
    width: 90%;
    background-color: #73BAF9;
    margin-top: 2%;
    height: 76dvh;
    border-radius: 60px;
    align-self: center;
    justify-self: center;
    display: grid;
    opacity: 0;
    transition: opacity 1.2s ease;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.nosotros_textos{
    width: 100%;
    text-align: center;
    align-content: center;
}
.nosotros_textos h1{
    font-size: 500%;
    margin-top: -83px;
    font-family: "Judson", serif;
}
.nosotros_textos p{
    font-size: 300%;
    margin-top: 5%;
}
.nosotros_imagen{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nosotros_imagen img{
    width: 60%;
    border-radius: 30px;
    margin-top: 4%;
}
.CTAReserva{
    width: 60%;
    height: 8dvh;
    margin-top: 2%;
    border-radius: 24px;
    background-color: #514FE3;
    color: white;
    font-size: 170%;
    text-decoration: none;
    text-align: center;
    align-content: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    transition: 0.2s;
}
.CTAReserva:hover{
    transform: scale(1.1);
    font-weight: 500;
    background-color: #38369d;
}
.separador{
    width: 90%;
    height: 4px;
    margin-top: 43px;
    justify-self: center;
    background-color: #949494;
}
.elegirnos{
    margin-top: 70px;
    display: flex;
    height: 90dvh;
}
.elegirnos_txt{
    width: 100%;
    text-align: center;
    align-content: center;
}
.elegirnos_txt h1{
    font-family: "League Spartan", sans-serif;
    text-align: start;
    padding-left: 80px;
    font-size: 300%;

}
.elegirnos_txt p{
    text-align: start;
    margin-top: 6%;
    font-family: "Instrument Sans", sans-serif;
    padding-left: 80px;
    font-size: 235%;
}
.elegirnos figure{
    border-radius: 100%;
    width: 90%;
    height: 90%;
    text-align: center;
    overflow: hidden;
    align-self: center;
}
.elegirnos figure img{
    width: 65%;
}
.servicios{
    height: 90dvh;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.servicios h1{
        font-family: "League Spartan", sans-serif;
        font-size: 280%;
        margin-top: 3%;
}
.serviciosSpec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 87%;
    margin-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
}
.serviciosSpec section{
    width: 100%;
    height: 35dvh;
}
.serviciosSpec section img{
    width: 35%;
}
.serviciosSpec section:nth-child(1) img{
    width: 55%;
}
.serviciosSpec h2{
    font-family: "League Spartan", sans-serif;
    font-size: 193%;
    margin-top: 4%;
}
footer{
    width: 100%;
    height: 70dvh;
    background-color: #326FE9;
    display: flex;
}
footer hr{
    background-color: white;
    width: 0.4%;
    height: 60dvh;
    align-self: center;
}
.ubicacion{
    width: 49.8%;
}
.ubicacion h1{
    font-family: "League Spartan", sans-serif;
    color: white;
    text-align: center;
    margin-top: 7%;
    font-size: 300%;
}
.ubicacion iframe{
    width: 80%;
    margin-left: 10%;
    height: 46dvh;
    margin-top: 2%;
    border-radius: 30px;
}

.redes{
    width: 49.8%;
}
.redes h1{
    font-family: "League Spartan", sans-serif;
    color: white;
    text-align: center;
    margin-top: 16%;
    font-size: 300%;
}
.linksRedes{
    width: 100%;
    height: 31dvh;
    display: flex;
    gap: 57px;
    justify-content: center;
}
.linksRedes a{
    width: 18%;
    align-content: center;
}
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}