*{
    margin: 0;
    border: none;
}
body{
    width: 100%;
    height: 171dvh;
    background-color: #F6FBFE;
}
.main{
    width: 100%;
    height: 83dvh;
}
header{
    background-color: #326FE9;
    width: 100%;
    height: 14dvh;
    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    grid-template-areas: "logo nav";
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 6dvw;
    height: auto;
}
.logo span{
    font-size: 200%;
    margin-left: 15px;
    font-family: "Judson", serif;
    font-weight: 600;
    color: white;
    font-style: normal;
}
.logo a{
    margin-left: 15%;
}
nav{
    grid-area: nav;
    align-items: center;
    height: 9dvh;
    width: 90%;
    margin-left: 4%;
}
nav ul{
    list-style: none;
    display: grid;
    width: 100%;
    height: 9dvh;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
nav ul li{
    width: 90%;
}
nav ul li a{
    text-decoration: none;
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    align-content: center;
    font-size: 170%;
    color: white;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
    background-color: #2c61cb;
    border-radius: 20px;
}
nav ul li a:hover{
    background-color: #204a9d;
    transform: scale(1.1);
    font-weight: 600;
}
.reserva{
    width: 90%;
    background-color: #73BAF9;
    margin-top: 2%;
    height: 79dvh;
    border-radius: 60px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    transition: opacity 1.2s ease;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.reserva h1{
    font-family: "League Spartan", sans-serif;
    margin-top: 3%;
    font-size: 350%;
}
.form-cita{
    width: 80%;
    margin: 3% auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
}
.campo{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.campo label{
    font-family: "League Spartan", sans-serif;
    font-size: 140%;
    margin-bottom: 10px;
    color: #0b2c6b;
}

.campo input{
    height: 55px;
    border-radius: 12px;
    padding: 0 15px;
    font-size: 120%;
}
.form-cita button{
    grid-column: 1 / -1;
    margin: 0px auto 0 auto;
    width: 50%;
    height: 65px;
    border-radius: 20px;
    font-size: 160%;
    background-color: #5454E8;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.form-cita button:hover{
    background-color: #3b3bc9;
    transform: scale(1.05);
}
footer{
    width: 100%;
    height: 70dvh;
    background-color: #326FE9;
    display: flex;
}
footer hr{
    background-color: white;
    width: 0.4%;
    height: 60dvh;
    align-self: center;
}
.ubicacion{
    width: 49.8%;
}
.ubicacion h1{
    font-family: "League Spartan", sans-serif;
    color: white;
    text-align: center;
    margin-top: 7%;
    font-size: 300%;
}
.ubicacion iframe{
    width: 80%;
    margin-left: 10%;
    height: 46dvh;
    margin-top: 2%;
    border-radius: 30px;
}

.redes{
    width: 49.8%;
}
.redes h1{
    font-family: "League Spartan", sans-serif;
    color: white;
    text-align: center;
    margin-top: 16%;
    font-size: 300%;
}
.linksRedes{
    width: 100%;
    height: 31dvh;
    display: flex;
    gap: 57px;
    justify-content: center;
}
.linksRedes a{
    width: 18%;
    align-content: center;
}
